.time-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: #343a40;
    text-align: center;
    background: rgba(245, 245, 245, 0.8);
    padding: 2rem 4rem;
    border-radius: 20px;

    h1 {
        font-weight: bold;
        font-size: 2rem;
    }
}